.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: white;
  padding: 10px 0;
  box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.1);
  z-index: 1;
}

.pagination-limit-container {
  display: flex;
  align-items: center;
}

.pagination-scroll {
  overflow-x: auto;
  flex-grow: 1;
}

.pagination {
  display: flex;
  align-items: center;
  gap: 5px;
}

.pagination button {
  margin: 0 5px;
  padding: 5px 10px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  outline: none;
}

.pagination button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

.limit select {
  padding: 5px;
  border-radius: 5px;
  border: 1px solid #ccc;
  outline: none;
}
