/* Prevent body from scrolling */
body {
  overflow: hidden;
}

/* Item List Container */
.item-list-container {
  height: calc(100vh - 50px); /* Adjust the height to fill the screen while accounting for footer height */
  overflow-y: scroll; /* Enable scrolling only on this container */
  padding-bottom: 50px; /* Space for footer */
  box-sizing: border-box;
  scrollbar-width: thin; /* For Firefox */
  scrollbar-color: #888 #ccc; /* For Firefox */
}

.item-list-container::-webkit-scrollbar {
  width: 12px;
}

.item-list-container::-webkit-scrollbar-track {
  background: #f1f1f1;
}

.item-list-container::-webkit-scrollbar-thumb {
  background-color: #888;
  border-radius: 10px;
  border: 3px solid #f1f1f1;
}

.item-list-container::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.item-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center; /* Center items */
  margin: 0 auto;
  padding: 0 10px; /* Adjust padding for better fit */
}

/* Individual Item Card */
.item {
  margin: 10px; /* Adjust margin for better spacing */
  padding: 20px;
  width: calc(33.33% - 20px); /* Make items responsive */
  max-width: 150px; /* Limit max width for items */
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  background-color: lightyellow;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  box-sizing: border-box;
}

.item:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
}

.item img {
  width: 100%;
  border-radius: 8px;
}

.item h2 {
  font-size: 20px;
  margin-top: 10px;
  margin-bottom: 5px;
}

.item p {
  color: #666;
  font-size: 16px;
  margin-bottom: 10px;
}

/* Pagination and Limit Section */









/* Media queries for responsiveness */
@media screen and (max-width: 768px) {
  .item {
    width: calc(50% - 20px);
  }
}

@media screen and (max-width: 480px) {
  .item {
    width: calc(100% - 20px);
  }
}
